@using Microsoft.AspNetCore.Identity
@using LiquorLand.Areas.Identity.Data

@inject UserManager<Users> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="profileDetails">
    <form method="POST" id="addressEdit" action=@Url.Action("EditAddress", "User")>
        <div class="container Details">
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-6 userDetail">
                    <label class="inputlabel">Country:</label>
                    <select class="form-control" name="country" id="country" autocomplete="country-name">
                        <partial name="/Views/Shared/_CountryList.cshtml" />
                    </select>
                </div>
                <div class="col col-sm-12 col-md-6 col-lg-6 userDetail">
                    <label class="inputlabel">City:</label>
                    <input class="inputfield" disabled id="city" value="@user.City" name="city" type="text" autocomplete="city" />
                </div>
            </div>

            <div class="row">
                <div class="col col-sm-12 col-md-6 col-lg-6 userDetail">
                    <label class="inputlabel">Address:</label>
                    <input class="inputfield" disabled id="address" value="@user.Address" name="address" type="text" autocomplete="street-address" />
                </div>
                <div class="col col-sm-12 col-md-6 col-lg-6 userDetail">
                    <label class="inputlabel">Postal Code:</label>
                    <input class="inputfield" disabled id="postal" value="@user.PostalCode" name="postal" type="text" autocomplete="postal-code" />
                </div>
            </div>

            <button class="btn btn-secondary editbtn" type="button" id="editbtnAdd">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                </svg>
                <label style="cursor:pointer" id="edittextAdd">Edit</label>
            </button>
            <button hidden id="editsubmitAdd" class="btn btn-secondary editsubmit" type="submit" title="submit" form="addressEdit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                    <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z" />
                    <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z" />
                </svg>
                Finish Editing
            </button>
        </div>
    </form>
</div>

<script>
    var editing = true;
    $(document).ready(function(){
        $("#country").prop("value", "@user.Country");
        $("#country").prop("disabled", true);
        $("#editbtnAdd").click(function(){
            editing = !editing
            $("#country").prop("disabled", editing);
            $("#city").prop("disabled", editing);
            $("#address").prop("disabled", editing);
            $("#postal").prop("disabled", editing);
            $("#editsubmitAdd").prop("hidden", editing);

            if(!editing)
                $("#edittextAdd").html("Cancel Editing");
            else
            {
                $("#edittextAdd").html("Edit");
                $("#country").prop("value", "@user.Country");
                $("#city").prop("value", "@user.City");
                $("#address").prop("value", "@user.Address");
                $("#postal").prop("value", "@user.PostalCode");
            }
        });
    });

</script>