<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiquorLand</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LiquorLand.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
</head>
<body style="background-color: #222831;">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <header>
        <nav class="navbar w-100 navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color: #31363F;">
            <div class="container-fluid sticky-top">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">LiquorLand</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <div class="shopping-cart">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="shoppingCarts">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="30" height="30" fill="white" class="bi bi-cart" viewBox="0 0 20 20">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                </svg>
                                  <span class="item-count" id="count_items"></span> 
                            </a>
                            </div>
                        </li>
                        <li class="nav-item justify-self-center">
                            <form asp-controller="Product" asp-action="searchProduct" method="get">
                            <div class="input-group" data-mdb-input-init>
                                <input type="search" id="productSearch" class="focus-ring focus-ring-light form-control" name="word" placeholder="Search"/>
                                <button id="submitSearch" disabled type="submit" class="btn btn-primary">
                                    <span>&#128269;</span>
                                </button>
                            </div>
                        </form>
                        </li>
                        
                        <li class="nav-item justify-self-center">
                            <div class="d-flex"> 
                                <span class="trigger"></span>
                            <button class="btn btn-primary" onclick="openPopup()">notification
                            </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <partial name="_UserPartial.cshtml" />

        </nav>
        <!--for notification-->
        <script>

         $(document).ready(function () {
            $('.notification').click(function () {
                var serial = $(this).data('serial');

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("notifyBtnPreesed", "Home")",
                    data: { serial: serial },
                    success: function (response) {
                   
                        
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
            function openPopup() {
                // Load the partial view into a modal-like popup
                $.get('@Url.Action("OpenModelPopup", "Home")', function(data) {
                    $('body').append(data); // Append popup content to the body
                });
            }

            function closePopup() {
                $('.popup-container').remove(); // Remove the popup from the DOM
            }
        </script>

        <!--end-->
        <div class="Categories border-bottom box-shadow">
            <ul class="CategoryNav">
                <li class="nav-item">
                    <nav class="navbar-brand">
                    <div class="container-fluid">
                        <button class="navbar-toggler" id="Beer" name="catbt" type="button" data-bs-target="#SubNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span>Beer</span>
                        </button>
                    </div>
                </nav>
                </li class="nav-item">
                <li>
                    <nav class="navbar-brand">
                    <div class="container-fluid">
                        <button class="navbar-toggler" id="Wine" name="catbt" type="button" data-bs-target="#SubNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span>Wine</span>
                        </button>
                    </div>
                </nav>
                </li>
                <li class="nav-item">
                    <nav class="navbar-brand">
                    <div class="container-fluid">
                        <button class="navbar-toggler" id="Whiskey" name="catbt" type="button" data-bs-target="#SubNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span>Whiskey</span>
                        </button>
                    </div>
                </nav>
                </li>
            </ul>
        </div>
        <div class="collapse border-bottom" id="SubNav" data-bs-theme="dark">
            <div class="bg-secondary p-4" id="SubCat">
                <ul class='CategoryNavList'>
                    <!--Nav content dynamically updates when clicking related categories-->
                </ul>
            </div>
        </div>
    </header>
    
    @if(User.IsInRole("Admin"))
    {
        <style>
            .admincontrol{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                color: white;
                height:100%;
                list-style-type: none;
                font-size: 24px;
            }
        </style>
        <div style="display: flex; position: fixed; z-index: 10000; height:100%; width: 0"  >
            <div id="control" data-bs-custom-class="tooltip-arrow-auto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Admin Controls" style="align-self: center; transform: translateY(-40px)">
            <button class="btn btn-warning rounded-circle"  type="button" data-bs-toggle="offcanvas" data-bs-target="#AdminControls" aria-controls="AdminControls" style="height:40px; width: 40px; font-size: 20px; align-self: center;">
                <span>+</span>
            </button>
            </div>
            <div class="offcanvas offcanvas-start" style="background-color: #222831" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="AdminControls" aria-labelledby="AdminControlsLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="AdminControlsLabel">Admin Controls</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="background-color: #222831">
                    <div class="h-75">
                        <ul class="admincontrol">
                            <li class="nav-item">
                                <a class="btn btn-primary text-light" asp-area="" asp-controller="User" asp-action="AddProduct">Add New Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary text-light" asp-area="" asp-controller="User" asp-action="ProductManager">Product Manager</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const element = document.querySelector('#control');
            const tooltip = new bootstrap.Tooltip(element);
        </script>
    }

    <div class="alert alert-success bg-success" role="alert" id="alert-success">
        <div class="d-flex gap-4">
            <span><i class="fa-solid fa-circle-check icon-success"></i></span>
            <div class="text-light">
                The item has been successfully added to the shopping cart!
            </div>
        </div>
    </div>
    
   <div class="alert alert-success bg-danger" role="alert" id="alert-failure"> 
        <div class="d-flex gap-4">
            <span><i class="fa-solid fa-circle-exclamation icon-danger"></i></span>
            <div class="d-flex flex-column gap-2">
            <h6 class="mb-0">There are no more items in the store.</h6>
            </div>
        </div>
   </div>
    <div class="alert alert-success bg-danger" role="alert" id="alertLimt">
        <div class="d-flex gap-4">
            <span><i class="fa-solid fa-circle-exclamation icon-danger"></i></span>
            <div class="d-flex flex-column gap-2">
                <h6 class="mb-0">You have reached the maximum number of items in the store.</h6>
            </div>
        </div>
    </div>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LiquorLand - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- FBS -->
    @await RenderSectionAsync("Scripts", required: false)
    <!--<script>
    document.getElementById("searchButton").addEventListener("click", function () {
        var searchTerm = document.getElementById("form1").value;
        window.location.href = "Url.Action("searchProduct", "Product")?word=" + searchTerm;});
    </script>-->
    <script>

        let clicker = null;
        let open = false;
        $(document).on('click', '#Beer, #Wine, #Whiskey', subNav)

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function subNav() {
            var el = document.getElementById("SubCat")
            var cat = $(this).attr('id')

            el.innerHTML = "<ul class='CategoryNavList'>"
            $(document.getElementById("SubNav")).collapse("toggle");

            if(open)
                await sleep(300)
      
            if(cat == "Wine")
            {
                el.firstChild.innerHTML = ""
                for(const sub of ["Red Wine", "White Wine", "Rose", "Sparkling", "Dessert"]){
                    const category = sub.split(" ")
                    const url = "@Url.Action("ProductGallery", "Product", new { category="Wine", sub="text1" })".replace("text1", category[0])
                    el.firstChild.innerHTML += "<a href="+url+ " class='nav-item'>" + sub + "</a>"
                }
            }
            else if(cat == "Beer")
            {
                el.firstChild.innerHTML = ""
                for(const sub of ["Lager", "Ale", "IPA", "Wheat", "Cider"]){
                    const url = "@Url.Action("ProductGallery", "Product", new { category="Beer", sub="text1" })".replace("text1", sub)
                    el.firstChild.innerHTML += "<a href="+url+ " class='nav-item'>" + sub + "</a>"
                }
            }
            else if(cat == "Whiskey")
            {
                el.firstChild.innerHTML = ""
                for(const sub of ["Bourbon", "Single+Malt", "Blended", "American", "Japanese", "Irish", "Single+Grain"]){
                    const url = "@Url.Action("ProductGallery", "Product", new { category="Whiskey", sub="text1" })".replace("text1", sub)
                    el.firstChild.innerHTML += "<a href="+url+ " class='nav-item'>" + sub.replace('+',' ') + "</a>"
                }
            }
            if(document.getElementById("SubNav").getAttribute("class").endsWith('collapse') && clicker !== this)
            {
                // If navbar is already open and a different category is clicked, toggle the navbar
                $(document.getElementById("SubNav")).collapse("toggle");
            }

            open = true;
            clicker = this;

            if(document.getElementById("SubNav").getAttribute("class").endsWith('collapse'))
                open = false;
        }
    </script>

    <script>
        var items = 0;
         $(document).ready(async function () {
            await itemCount();
            $('.item-count').html(items);
        })

        $(document).ready(function () {
            $('.addToCartButton').click(async function () {
                var serial = $(this).data('serial');
                var input = $('.quantityInput').val();
                var quantity;

                if (input > 1) {
                    quantity = parseInt(input, 10);
                }
                else {
                    quantity = 1;
                }
               await $.ajax({
                    type: "GET",
                    async: true,
                    url: "@Url.Action("addToCart", "ShoppingCart")",
                    data: { serial: serial,quantity: quantity },
                    success: async function (response) {
                        if (response.success) 
                        {
                            $('#alert-success').fadeIn().delay(800).fadeOut();
                            await itemCount();
                            $('.item-count').html(items);
                        } 
                       else 
                       {
                            $('#alert-failure').fadeIn().delay(800).fadeOut();
                       }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

        async function itemCount() {
            await $.ajax({
                type: "GET",
                url: "@Url.Action("CountItems", "ShoppingCart")",
                success: function (response) {
                    items = response;
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        $(document).ready(function() {
            $('#productSearch').change(function() {
                if($(this).val())
                {
                    $('#submitSearch').prop("disabled", false)
                }
                else{
                    $('#submitSearch').prop("disabled", true)
                }
            });
        });
    </script>


</body>
</html>
