@using Microsoft.AspNetCore.Http
@model LiquorLand.Models.ShoppingCart
<link href="~/css/shoppingCart.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<div>
    <h1 class="shop_titel m-5">Your Shopping Cart</h1>
    <div class="cart-container">
        <div class="cart-items">
            @if (Model.CartItems.Count == 0)
            {
                <div class="cart-item" style="height: 100px;">
                    YOUR CART IS EMPTY FOOL
                </div>
            }
            @foreach (cartsItem p in Model.CartItems)
            {
                <div class="cart-item" id="@p.cartItem.Serial">
                    <a href="@Url.Action("productsShow", "Product", new { ProductName = p.cartItem.ProductName })">
                        <div class="item-details">
                            <img src="@p.cartItem.ProductImage" alt="Product Image" />
                        </div>
                    </a>
                    <div class="item-info">
                        <h3>@p.cartItem.ProductName</h3>
                    </div>

                    <div class="quantity">
                        <button class="btn btn-link minus_button" id="minus_button" data-serial="@p.cartItem.Serial">-</button>
                        <input data-serial="@p.cartItem.Serial" id="quantity-value" type="number" min="0" max="@p.cartItem.Stock" class="small-input quantity-value" value="@p.Quantity" data-quantity-url="@Url.Action("quantityChange", "ShoppingCart")"/>
                        <button class="btn btn-link plus_button" id="plus_button" data-serial="@p.cartItem.Serial" data-plus-url="@Url.Action("plusItem", "ShoppingCart")">+</button>
                    </div>

                    <div class="item-price">$@p.cartItem.ProductPrice</div>
                    <div class="total-price">$@(p.cartItem.ProductPrice * p.Quantity)</div>
                    <div>
                        <button type="button" class="btn-close remove_item" data-serial="@p.cartItem.Serial" data-remove-url="@Url.Action("RemoveItem", "ShoppingCart")"/>
                    </div>
                </div>

            }

            <div class="cart-summary">
                <div class="checkout-btn">
                    <div class="total">
                        Total: $@Model.GetTotal()
                    </div>
                </div>
                @if(Model.GetTotal() != 0)
                {
                    <a asp-area="" asp-action="GenerateToken" asp-controller="BrainTree">
                        <button type="button" class="checkout-btn">Checkout</button>
                    </a>
                } 
            </div>
        </div>

    </div>


</div>


<span id="cartUrl" data-cart-url="@Url.Action("shoppingCarts", "ShoppingCart")" />

<script src="~/js/cartPage.js" />