@model List<LiquorLand.Models.cartsItem>
<link href="~/css/shoppingCart.css" rel="stylesheet" />



<div>
    <h1 class="shop_titel m-5">Thank you for your ordering!</h1>
    <div class="icon_">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
        </svg>
    </div>
    <h5 class="ordernum">Your order number is: # @ViewBag.orderNumber</h5>
    <h1 class="shop_titel m-5">Order details:</h1>
    <div class="cart-container">
        <div class="cart-items">
            @foreach (cartsItem p in Model)
            {
                <div class="cart-item" id="@p.cartItem.Serial">
                    <div class="item-details">
                        <img src="@p.cartItem.ProductImage" alt="Product Image" />
                    </div>
                    <div class="item-info">
                        <h3>@p.cartItem.ProductName</h3>
                    </div>

                    <div class="quantity"> @p.Quantity</div>

                    <div class="item-price">$@p.cartItem.ProductPrice</div>
                    <div class="total-price">$@(p.cartItem.ProductPrice * p.Quantity)</div>
                </div>
            }
            <div class="cart-summary">
                <div class="checkout-btn">
                    <div class="total">
                        Total: $@ViewBag.totalPrice
                    </div>
                </div>
                <div>
                    <a asp-area="" asp-action="Index" asp-controller="home">
                        <button type="button" class="checkout-btn">Continue Shopping</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
 </div>
