@model LiquorLand.Models.Product

<div>
   <div>
        <img src="@Model.ProductImage" alt="ProductImage" width="200" height="270"/>
        <h4> PRICE: @Model.ProductPrice</h4> <br />
        <h4> NAME: @Model.ProductName</h4> <br />
        <h4> CATEGORY: @Model.ProductCategory</h4>
        <h4> SUB CATEGORY: @Model.ProductSubCategory</h4>
        <h4> DESCRIPTION: @Model.ProductDescription</h4>
        <h4> CAPACITY  </h4>
        <h4> alchohol per </h4>
        <h4>in storage: 3</h4>
   </div>

    <div>
        
    </div>

    <div>
        <button>add to cart</button>
        @* send me a message when product in storge *@
        <button> notify me</button>
    </div>

</div>
