@model LiquorLand.ViewModels.productViewModel

<style>
    .productManager {
        display: grid;
        width: 90%;
        justify-self: center;
        margin: auto;
        background-color: #EEEEEE;
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-self: center;
        gap: 20px;
        align-items: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    input {
        width: 6vw;
    }
</style>

<div class="productManager table-responsive mt-5">
    <div class="filters mt-2 mb-2">
        <div class="form-check form-switch p-0">
            <div class="d-flex flex-column-reverse align-items-center gap-1">
                <input class="form-check-input ms-0" type="checkbox" role="switch" id="instock" />
                <label class="form-check-label" for="instock">In Stock</label>
            </div>
        </div>
        <div class="form-check form-switch p-0">
            <div class="d-flex flex-column-reverse align-items-center gap-1">
                <input class="form-check-input ms-0" type="checkbox" role="switch" id="outstock" />
                <label class="form-check-label" for="outstock">Out of Stock</label>
            </div>
        </div>
        <div>
            <input type="text" id="serial" name="serial" placeholder="Serial" />
            <input type="text" id="category" name="category" placeholder="Category" />
            <input type="text" id="sub" name="sub" placeholder="Sub Category" />
            <input type="text" id="name" name="name" placeholder="Name" />
        </div>
        <div>
            <input type="number" step="0.01" min="0" id="price" name="price" placeholder="Price" />
            <input type="number" step="0.1" min="0" id="alch" name="alch" placeholder="Alcohol %" />
            <input type="number" step="1" min="0" id="volume" name="volume" placeholder="Volume" />
        </div>
        <div>
            <input type="text" id="country" name="country" placeholder="Country" />
            <input type="text" id="maker" name="maker" placeholder="Maker" />
            <input type="text" id="free" name="free" placeholder="Search in Description" />
        </div>
        <button class="btn btn-warning rounded-pill" id="filterAll">Filter Products</button>
        <button class="btn btn-warning rounded-pill" id="clearAll">Clear All</button>
    </div>
    <div class="totalProducts">
        <span>Total Products in store: @Model.total_products</span>
    </div>
    <div class="productTable">
        <table class="table text-center" style="--bs-table-border-color: black;">
            <tbody>
                <tr>
                    @foreach (var property in typeof(Product).GetProperties())
                    {
                        <th>@property.Name</th>
                    }
                    <th>Product Options</th>
                </tr>
                @foreach (Product p in Model.all_products)
                {
                    <tr id="p|@p.Serial">
                        @foreach (var property in typeof(Product).GetProperties())
                        {
                            @if (property.Name == "ProductImage")
                            {
                                <td><img src=@property.GetValue(p) style="object-fit:contain; width: 100px; height: 130px;" /></td>
                            }
                            else
                            {
                                @if (property.Name == "Stock" && (int)property.GetValue(p) == 0)
                                {
                                    <script>
                                        document.getElementById("p|@p.Serial").style="--bs-table-bg: rgba(255, 99, 71, 0.9);"
                                    </script>
                                }
                                @if (property.Name == "ProductDescription")
                                {
                                    <td><div class="description-cell">@property.GetValue(p)</div></td>
                                }
                                else
                                {
                                    <td>@property.GetValue(p)</td>
                                }
                            }
                        }
                        <td>
                            <div class="d-flex flex-row gap-2">
                                <a href=@Url.Action("Edit", "User", p) class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Product">Edit</a>
                                <button class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Order Stock">Order</button>
                                <div id="@p.Serial" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Remove Product">
                                    <button class="btn btn-danger removeitem" id="removeitem" data-bs-toggle="modal" data-bs-target="#removeItem">X</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                @if (Model.total_products > Model.product_page * 10)
                {
                    <tr>
                        <td colspan=14 class="LoadMore">
                            <button class="btn btn-primary loadProducts">Load More Products</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="removeItem" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #31363F">
            <div class="modal-header">
                <h5 class="modal-title">Remove Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalbody">
            </div>
            <div class="modal-footer align-items-center justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <a id="removebtn" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>

<script>
    let tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    var page = 1;
    var productAmount = 10;

    $(document).ready(function() {
        function getFilterData(){
            return {
                serial: $('#serial').val(),
                country: $('#country').val(),
                maker: $('#maker').val(),
                name: $('#name').val(),
                instock: $('#instock').is(':checked'),
                outstock: $('#outstock').is(':checked'),
                category: $('#category').val(),
                sub: $('#sub').val(),
                price: $('#price').val(),
                volume: $('#volume').val(),
                alpercent: $('#alch').val(),
                page: page,
                productAmount: 10,
                // Add other form parameters here
            };
        };

        function applyFilter() {
            // Determine the state of instock and outstock
            var isInStock = $('#instock').is(':checked');
            var outOfStock = $('#outstock').is(':checked');

            // Disable or enable the opposite checkbox based on the current checkbox state
            $('#instock').prop('disabled', outOfStock);
            $('#outstock').prop('disabled', isInStock);

            page = 1;
            // Prepare the filter data
            var filterData = getFilterData();

            // Make the AJAX call
            $.ajax({
                url: '@Url.Action("FilterProductManager", "Product")', // Make sure this URL is correct in your context
                type: 'GET',
                data: {filterData: filterData},
                success: function(result) {
                    // Replace the product list with filtered data
                    $('.productTable').html(result);
                    $(".loadProducts").click(loadMore);
                },
                error: function(xhr, status, error) {
                    // Handle error
                    alert('Error: ' + error);
                }
            });
        };
        // Bind the applyFilter function to change events of the checkboxes
        $('#instock, #outstock').change(applyFilter);

        // Bind the applyFilter function to the click event of the button
        $('#filterAll').click(applyFilter);

        function loadMore(){
            page++

            filterData = getFilterData();

            $.ajax({
                url: '@Url.Action("FilterProductManager", "Product")',
                type: 'Get',
                data: {
                    filterData: filterData,
                },
                success: function(result){
                    $('.productTable').html(result);
                    $(".loadProducts").click(loadMore);
                },
                error: function(xhr, status, error) {
                    // Handle error
                    alert('Error: ' + error);
                }
            })
        };

        $(".loadProducts").click(loadMore);

        $('#clearAll').click(function() {
            const inputs = document.querySelectorAll("input")
            for(const input of inputs){
                input.value = null;
            }
            page = 1;
            $.ajax({
                url: '@Url.Action("FilterProductManager", "Product")',
                type: 'GET',
                success: function(result) {
                    // Replace the product list with filtered data
                    $('.productTable').html(result);
                    $(".loadProducts").click(loadMore);
                },
                error: function(xhr, status, error) {
                    // Handle error
                    alert('Error: ' + error);
                }
            });
        });
    });

    $(document).ready(function() {
        $('.removeitem').click(function() {
            const modalBody = document.getElementById("modalbody")
            const modalRemove = document.getElementById("removebtn")
            const serial = $(this).parent()[0].id

            modalBody.innerHTML = "<p>Are you sure you want to remove " + serial + "?</p>"

            modalRemove.href = "@Url.Action("RemoveProduct", "Product", new {serial = "text"})".replace("text", serial)
        });
    });


</script>